DB_NAME=credit_db
DB_USERNAME=admin
DB_PASSWORD=admin

DB_HOST=postgres
DB_PORT=5432

APPLICATION_SERVICE_HOST=application-service
APPLICATION_SERVICE_PORT=8080

DECISION_SERVICE_HOST=decision-service
DECISION_SERVICE_PORT=8090

CAMUNDA_URL=http://${DECISION_SERVICE_HOST}:${DECISION_SERVICE_PORT}/engine-rest
CAMUNDA_USERNAME=admin
CAMUNDA_PASSWORD=admin
