# Database
DB_SERVICE_CONTAINER=database
DB_PORT=5432

DB_NAME=credit_db
DB_USERNAME=admin
DB_PASSWORD=admin

# Application Service
APPLICATION_SERVICE_CONTAINER=application-service
APPLICATION_SERVICE_HOST_PORT=8080
APPLICATION_SERVICE_CONTAINER_PORT=8080

# Decision Service
DECISION_SERVICE_CONTAINER=decision-service
DECISION_SERVICE_HOST_PORT=8090
DECISION_SERVICE_CONTAINER_PORT=8090

CAMUNDA_URL=http://${DECISION_SERVICE_CONTAINER}:${DECISION_SERVICE_CONTAINER_PORT}/engine-rest
CAMUNDA_USERNAME=admin
CAMUNDA_PASSWORD=admin
